# Welcome to the Python Basics Notebook
ðŸ˜Š In this session you will learn a tinny bit of Python just to get you started. We know learning a new langauge can be overwhelming sometimes that's why we decided to start slow for anyone trying out Python for the first time.

### 1.0 Variables
Computers store a type of data shortly in memory using what we call </b>variables</b>. They can change (vary/tentative) hence the term variables. In this case you will be introduced to 4 major types that we have.

### 3 major data types objects we have in Python
They are:
* Float e.g. 0.14327, -0.455
* Boolean e.g. True, False -> (1,0)
* Strings e.g. "I am learning Python!"
* Int e.g. 12, -34

Below are examples of these types of data and how to use them. Observe when you want to see results in a computer console/terminal you will have to use the function <b>print(*<u>what to print</u>*)</b>
You do not have to specify the type of data you are using the compiler will automatically figure it out by itself, for example, follow the examples and type different data e.g.

In [2]:
#this data is what we call a string
myName = 'John'
print(myName)

#now let us add a second Name
myWife = 'Jane' #add a name

#put the couple together
together = myName + ' '+ myWife #think of adding ' ' as a way of formatting our sentence 
#you can decide to use '+' instead of ' ' which is a space or ' and '

#See how the couple is now called
print(together)

John
John Jane

Now note that when we use # we are commenting the code so that the compiler cannot run that line, it is to help us understand what we are writing, while the use if a plus(+) and '' means that we are combining sentences e.g. 'John' + ' ' + 'Jane' OR 'John' + 'and' + 'Jane'. Observe this example, try to complete it yourself.

1. Print a sentence saying - Mary is Jane and Jane is married to John

In [ ]:
sentence1 = "Mary is Jane"
sentence2 = "Jane is married to John"

#change the code here
sentence3 = 
print()

Working with numbers

In [ ]:
myFloat = 1.432
myInt = 14
 
 #ADD
result1 = myFloat + myInt

#SUBTRACT
result2 = myInt - myFloat

#DIVIDE
result3 = myInt/myFloat

#MULTIPY
result4 = myFloat * myInt

Now print the above results

In [ ]:
#write your code here

Did you notice they are all decimal numbers called floats. Awesome if you achieved this! Now try formatting them to have only 2 decimal places.

An example is given trying copying the example.

In [4]:
#a new way of concatenation is introduced
res = 12.65/8.12
print(res)
print(f"Result = {res:.2f}")

1.557881773399015
Result = 1.56

### 2.0 Welcome to Control Structures
In life we have to control somethings in order to maintain logic. Therefore in programming you must use Control structures to specify the flow of the data.

We are going to look at my 2 most popularly used control structure and that is Conditional - IF-THEN, IF-THEN-ELSE and Looping - FOR LOOP

In [8]:
#IF-THEN
a = 1
b = 4.6

#check if a is greater than b
if a>b:
    print('a is greater than b')

#IF-ELSE
#check if a is greater than b and if not then print b
if a>b:
    print('a is greater than b')
else:
    print(b)

#IF-THEN-ELSE
#check if b is a float and if it is then print a other wise check for the same in a and if all failed give your own output
#print(type(a))
if(type(a) == float):
    print(a)
elif type(a) == float:
    print(b)
else:
    print('')

4.6
<class 'int'>

In [ ]:
#FOR LOOP
#(A) For loop with counter
for i in range(5):
    print(f"Number: {i}")

In [ ]:
#(B) For-each loop
for element in [4,5,'Amy','John','Angela']:
    print(element)

In [10]:
#(C) Nested FOR-LOOP
for fruit,size in zip(['apple','pineapple','peach'],['larger','smaller','medium-sized']):
    print(f"The {fruit} fruits are {size}")

The apple fruits are larger
The pineapple fruits are smaller
The peach fruits are medium-sized

### 3.0 Introducing you to Python Data Structures
A data structure simply dictates how we structure our data. Mostly it is done for easy data access. For example we use what we call a list like a normal list in Python.

1. Lists
* Lists are used to store multiple items in a single variable.
* They are mutable
* Different data objects can be stored in it
* Have elements
* Accessed using indexes

In [13]:
#creating a list
myList = [90,43,4,-6,9]
myList2 = ["Celcius",3.56,-18,13243.554]

In [12]:
#accessing a single item/element using an index
#Numbering of indexes start from 0-N
#first item
print(myList[0])
print(myList2[1])

90
3.56

In [14]:
#changing values at indexes - mutating
#let us change item one in myList
myList[0]="French"
print(myList)

['French', 43, 4, -6, 9]

In [16]:
#Slicing
#I want the first three items therefore you have to slice doing this list[0:n+1]
myString = "Jeremy"
print(myString[0:3])#first three items

Jer

In [ ]:
#print the first 5
myNumbers = [2,4,6,8,5.44,8,9]

In [17]:
#create one list using concatenation
arr1 = [2,56,853,35,7,8]
arr2 = [5,6,83,2]
arr3 =                  #complete this line
print(arr3)

[2, 56, 853, 35, 7, 8, 5, 6, 83, 2]

In [22]:
#getting the last item
items_list = ['Melanin','Orange','Red','Yellow',67,1.34,123.45,True,False,12,8.6]
print(items_list[-1])

#printing from back
print(items_list[-4:])

8.6
[True, False, 12, 8.6]

Use a loop to change the non number values to numbers

In [ ]:
#code goes here

Splitting

In [23]:
exercise_sentence = "45 32 46 90 are Andrew\'s, Melissa\'s, John\'s Tylor\'s scores"
#turn the string to a list
new_list = exercise_sentence.split() # splitting by space
new_list2 = exercise_sentence.split(',') # splitting by ,
print(new_list)
print(new_list2)

['45', '32', '46', '90', 'are', "Andrew's,", "Melissa's,", "John's", "Tylor's", 'scores']
["45 32 46 90 are Andrew's", " Melissa's", " John's Tylor's scores"]

2. Dictionaries

* Are a type of collection
* Has pairs with keys and values
* Keys are immutables and should not be the same
* Values can be changed

In [26]:
#creating a Dictrionary
books = {
    "bkName":'Quantum Programming',
    "bkCode":4436,
    "bkGenre":['Computer Science','Knowledge', 'Physics'],
    "bkRating":4.6,
    "bkYear":2004,
    "bkOwner":"Ahsley McGillen"
}

In [27]:
#the key is used to look up the value for example
print(books["bkName"])

Quantum Programming

In [28]:
#Oops! I put in the wrong author value, how do I change it
books["bkOwner"] = "James Allan"
print(books)

{'bkName': 'Quantum Programming', 'bkCode': 4436, 'bkGenre': ['Computer Science', 'Knowledge', 'Physics'], 'bkRating': 4.6, 'bkYear': 2004, 'bkOwner': 'James Allan'}

## Note:
In pandas we usually use lists as data under different keys which ultimately rep. columns e.g.

In [30]:
#creating a data frame in Pandas
#bring in pandas and give it an alias such as pd
import pandas as pd

#create a dataframe using pandas
books = {
    "bkName":['Da Vinci Code', 'Steve Jobs', '3 Body Problem'],
    "bkCode":[4436,2345,6787],
    "bkGenre":['Investigative','Autobiography', 'Fiction'],
    "bkRating":[4.6,4.8,4.3],
    "bkYear":[2004,2011,2024],
    "bkOwner":['James Langdon','Isaac Watson','Zack Snyder'],
    "bkReads":[123343554,5565343,3455465656]
}

booksDataFrame = pd.DataFrame(books)
booksDataFrame.head(2)

,bkName,bkCode,bkGenre,bkRating,bkYear,bkOwner,bkReads
0,Da Vinci Code,4436,Investigative,4.6,2004,James Langdon,123343554
1,Steve Jobs,2345,Autobiography,4.8,2011,Isaac Watson,5565343

In [31]:
#get dictionary keys
print(books.keys())
#get dictionary values
print(books.values())

dict_keys(['bkName', 'bkCode', 'bkGenre', 'bkRating', 'bkYear', 'bkOwner', 'bkReads'])
dict_values([['Da Vinci Code', 'Steve Jobs', '3 Body Problem'], [4436, 2345, 6787], ['Investigative', 'Autobiography', 'Fiction'], [4.6, 4.8, 4.3], [2004, 2011, 2024], ['James Langdon', 'Isaac Watson', 'Zack Snyder'], [123343554, 5565343, 3455465656]])

## 4.0 Creating Functions
Avoid doing boring work all over again. Let's go ahead and create lines of code to do tasks that will continue repeating like adding, changing values etc.

In [32]:
#a function to add numbers
def addNums(a,b):
    return a+b #you return the sum so the value can be used

print(addNums(5,6))

11

In [33]:
#not sure about the number of numbers you have let use variable arguments
def addManyNums(*numbers):
    current_sum = 0
    for number in numbers:
        current_sum += number
    
    return current_sum

print(addManyNums(4,5,1))

10

# Who is Python Tenary again? 

<img src="./images/monkey.gif" style="width: 120px; height: 100px;" alt="Monkey">

In Python, Ternary Operator determines if a condition is true or false and then returns the appropriate value as the result. The ternary operator is useful in cases where we need to assign a value to a variable based on a simple condition, and we want to keep our code more concise â€” all in just one line of code. Don't worry we've got you ðŸ˜†

In [41]:
eatingSugar = True

mothersPunishment = "Johnnie slept outside after a serious beating." if eatingSugar else "Johnnie is a good boy."
print(mothersPunishment)

Johnnie slept outside after a serious beating.

### Lambda Functions
#### Lam whaaaat? 


<img src="./images/cat.gif" style="width: 120px; height: 100px;" alt="Monkey">

In Python, lambda functions are used when we have only one expression to evaluate. Hence using the teranery operator with lambda makes it quite simple and easy. A lambda function is a small anonymous function.A lambda function can take any number of arguments, but can only have one expression.

In [2]:
x = 45
y = 10

print((lambda:'Y is greater',lambda:'X is greater')[x>y]())

X is greater

In [4]:
#add  x and y
add_res = lambda x,y : x+y
print(add_res(2,4))

6

## Make your loops more professional

Example create a new list of doubles from [1,2,3,4,5]

In [5]:
num_list = [1,2,3,4,5]
doubled_list = [num*2 for num in num_list]
print(doubled_list)

[2, 4, 6, 8, 10]

In [ ]:
#create a list that prints a 5 names

<img src="./images/windows success.webp" alt="">

# Next Week Stayed tuned for String Manipulation, Timing Functions, More Data Type objects and Classes